In [2]:
import pandas as pd
import csvkit
import pymongo
import pyodbc
import json
import numpy

# 1. Read this dataset in pandas , mysql and mongodb

In [3]:
#import CSV data- Pandas
df=pd.read_csv(r'C:\Users\kakms\OneDrive - Vestas Wind Systems A S\Desktop\D\pandas\data fsds_\task_pandas_31st july\FitBit data.csv')

In [4]:
df.head(10)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886
5,1503960366,3/30/2016,10970,7.16,7.16,0.0,2.36,0.51,4.29,0.0,30,13,223,1174,1820
6,1503960366,3/31/2016,12256,7.86,7.86,0.0,2.29,0.49,5.04,0.0,33,12,239,820,1889
7,1503960366,4/1/2016,12262,7.87,7.87,0.0,3.32,0.83,3.64,0.0,47,21,200,866,1868
8,1503960366,4/2/2016,11248,7.25,7.25,0.0,3.00,0.45,3.74,0.0,40,11,244,636,1843
9,1503960366,4/3/2016,10016,6.37,6.37,0.0,0.91,1.28,4.18,0.0,15,30,314,655,1850

In [5]:
#python- mongodb connection 
client = pymongo.MongoClient("mongodb+srv://kakms:Kart123@cluster0.lh6u7hp.mongodb.net/?retryWrites=true&w=majority")
db = client.test

#conversion csv-json
df.to_json(r'C:\Users\kakms\OneDrive - Vestas Wind Systems A S\Desktop\D\pandas\data fsds_\task_pandas_31st july\fitbit.json')

#converted json file to json object
with open(r'C:\Users\kakms\OneDrive - Vestas Wind Systems A S\Desktop\D\pandas\data fsds_\task_pandas_31st july\fitbit.json') as file:
    data=json.load(file)

#database_collection creation & insert data    
db1=client['fitbit']
coll=db1["fitbitdata"]
coll.insert_one(data)

# 2. Used manual approach, Tried auto in Superstore

In [201]:
#Column name & its type to create 
for i in df.columns:
    print(i,df[i].dtypes,',')

Id int64 ,
ActivityDate datetime64[ns] ,
TotalSteps int64 ,
TotalDistance float64 ,
TrackerDistance float64 ,
LoggedActivitiesDistance float64 ,
VeryActiveDistance float64 ,
ModeratelyActiveDistance float64 ,
LightActiveDistance float64 ,
SedentaryActiveDistance float64 ,
VeryActiveMinutes int64 ,
FairlyActiveMinutes int64 ,
LightlyActiveMinutes int64 ,
SedentaryMinutes int64 ,
Calories int64 ,
is Healthy object ,

In [7]:
import pyodbc
conn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=(LocalDB)\MSSQLLocalDB;"
                      "Database=test;"
                      "Trusted_Connection=yes;")

cursor = conn.cursor()

<>:3: DeprecationWarning: invalid escape sequence \M
<>:3: DeprecationWarning: invalid escape sequence \M
<>:3: DeprecationWarning: invalid escape sequence \M
<ipython-input-7-01d6e61b3c9b>:3: DeprecationWarning: invalid escape sequence \M

In [8]:
#create table
cursor.execute('''CREATE TABLE fitbit(
Id bigint ,
ActivityDate date ,
TotalSteps int ,
TotalDistance float ,
TrackerDistance float ,
LoggedActivitiesDistance float ,
VeryActiveDistance float ,
ModeratelyActiveDistance float ,
LightActiveDistance float ,
SedentaryActiveDistance float ,
VeryActiveMinutes int ,
FairlyActiveMinutes int ,
LightlyActiveMinutes int ,
SedentaryMinutes int ,
Calories int )
''')

conn.commit()

In [9]:
#Bulk import data in sql thru python
cursor.execute(r'''BULK INSERT fitbit 
                    FROM 'C:\Users\kakms\OneDrive - Vestas Wind Systems A S\Desktop\D\pandas\data fsds_\task_pandas_31st july\FitBit data.csv'
                    WITH ( 
                        FIRSTROW = 2,
                        FIELDTERMINATOR =',',
                        ROWTERMINATOR ='\n')
               ''')

conn.commit()

# 3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [10]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [11]:
df['ActivityDate'].dtypes

dtype('O')

In [12]:
df['ActivityDate']=pd.to_datetime(df['ActivityDate'])

In [13]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [14]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

# 4 . Find out in this data that how many unique id's we have

In [15]:
len(df['Id'].unique())

35

# 5 . which id is one of the active id that you have in whole dataset

In [16]:
(df.groupby('Id').sum()).sort_values('TotalSteps').tail(1)

,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
Id,,,,,,,,,,,,,
1503960366,221170,144.540001,144.540001,0.0,52.89,12.07,79.39,0.0,681,301,4336,15387,34128

# 6 . how many of them have not logged there activity find out in terms of number of ids

In [17]:
Unlogged_df=df.groupby('Id').sum()

In [18]:
Unlogged_df[Unlogged_df['LoggedActivitiesDistance']<=0]

,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
Id,,,,,,,,,,,,,
1503960366,221170,144.540001,144.540001,0.0,52.89,12.07,79.390000,0.00,681,301,4336,15387,34128
1624580081,80299,52.189999,52.189999,0.0,0.98,0.52,50.530000,0.10,14,11,2300,24288,25705
1644430081,92748,67.490000,67.490000,0.0,11.34,20.30,35.800000,0.08,148,435,2277,10342,29164
1844505072,43687,28.880000,28.880000,0.0,0.61,0.37,27.890000,0.00,9,9,1902,12424,19391
1927972279,26170,18.130000,18.130000,0.0,0.00,0.74,17.390000,0.00,0,20,1340,11435,27048
2022484408,146099,105.290001,105.290001,0.0,37.03,10.61,57.670000,0.00,481,270,3046,12707,29704
2026352035,40713,25.240000,25.240000,0.0,0.00,0.00,25.240000,0.00,0,0,2032,7910,16266
2320127002,37661,25.470000,25.470000,0.0,0.95,0.54,23.979999,0.00,11,13,1511,14991,18385
2347167796,147001,97.670001,97.670001,0.0,12.92,18.91,65.809999,0.00,177,347,3803,10258,30320
2873212765,79639,53.630001,53.630001,0.0,3.96,3.13,46.520000,0.02,61,72,3303,13643,20349
3372868164,61275,42.160000,42.160000,0.0,7.44,1.14,33.460000,0.14,118,35,2869,10851,18603
3977333714,103967,69.679999,69.679999,0.0,10.02,16.43,43.070000,0.00,146,375,2483,8505,16777
4020332650,184851,132.600000,132.600000,0.0,5.30,6.29,71.710000,0.20,130,245,4172,34663,98412
4319703577,93847,63.070000,63.070000,0.0,5.54,8.60,48.910000,0.00,79,219,2984,9361,23931
4388161847,0,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.00,0,0,0,11074,14442
4445114986,64396,43.600000,43.600000,0.0,6.35,0.62,36.609999,0.00,76,14,3009,12921,31617
4558609924,69423,45.880000,45.880000,0.0,2.17,1.37,42.320000,0.00,52,33,2998,13024,21962
4702921684,119151,96.690000,96.690000,0.0,3.57,12.17,80.840000,0.00,44,259,3701,10901,42322
5553957443,100257,65.500000,65.500000,0.0,18.14,10.43,36.910000,0.00,283,200,2200,7293,21630
5577150313,94690,70.930000,70.930000,0.0,34.26,7.12,29.520000,0.00,900,310,1730,7324,36303
6117666160,82486,62.270000,62.270000,0.0,0.42,2.73,59.090000,0.00,5,41,2999,8641,20993
6290855005,16181,12.230000,12.230000,0.0,2.02,3.68,6.530000,0.00,78,107,393,12896,21656
6775888955,50031,35.870000,35.870000,0.0,8.48,10.59,16.410000,0.00,179,443,1116,9161,24523
7086361926,73247,49.130000,49.130000,0.0,18.35,6.66,23.920000,0.06,315,212,1215,10666,26124
8053475328,163288,127.340000,127.340000,0.0,93.93,5.43,27.950000,0.00,933,125,1698,12259,31825
8253242879,28679,20.150000,20.150000,0.0,7.24,3.39,9.510000,0.03,70,56,711,16228,17556
8583815059,24364,19.020000,19.020000,0.0,0.37,0.73,17.880000,0.00,5,15,1097,10094,19130
8792009665,37139,23.770000,23.770000,0.0,0.58,1.37,21.820000,0.00,18,65,1585,10723,24884
8877689391,209005,169.089998,169.089998,0.0,87.39,5.80,75.270001,0.03,802,181,2892,12554,41414

In [27]:
print('{} unique Ids have not even logged once out of 35 UniqueIds'.format(len(Unlogged_df[Unlogged_df['LoggedActivitiesDistance']<=0])))

29 unique Ids have not even logged once out of 35 UniqueIds

In [20]:
#29 unique Ids have not even logged once out of 35 UniqueIds

# 7 . Find out who is the laziest person id that we have in dataset

In [21]:
(df.groupby('Id').sum()).sort_values('TotalSteps').head(1)

,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
Id,,,,,,,,,,,,,
4388161847,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,11074,14442

In [22]:
#Id - 4388161847, counted 0 Total steps

# 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [23]:
#Assume average 2500 calories burn per day per men/women
Average_df=df.groupby('Id').mean()

In [24]:
Average_df[Average_df['Calories']>2500]

,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
Id,,,,,,,,,,,,,
1644430081,9274.800000,6.749000,6.749000,0.000000,1.134000,2.030000,3.580000,0.008000,14.800000,43.500000,227.700000,1034.200000,2916.400000
4020332650,5776.593750,4.143750,4.143750,0.000000,0.165625,0.196563,2.240938,0.006250,4.062500,7.656250,130.375000,1083.218750,3075.375000
4702921684,7943.400000,6.446000,6.446000,0.000000,0.238000,0.811333,5.389333,0.000000,2.933333,17.266667,246.733333,726.733333,2821.466667
5577150313,8608.181818,6.448182,6.448182,0.000000,3.114545,0.647273,2.683636,0.000000,81.818182,28.181818,157.272727,665.818182,3300.272727
6775888955,5559.000000,3.985556,3.985556,0.000000,0.942222,1.176667,1.823333,0.000000,19.888889,49.222222,124.000000,1017.888889,2724.777778
7007744171,12260.333333,8.856667,8.203333,2.862610,3.540000,0.655000,4.657500,0.004167,44.666667,16.250000,277.500000,1000.666667,2627.083333
8053475328,14844.363636,11.576364,11.576364,0.000000,8.539091,0.493636,2.540909,0.000000,84.818182,11.363636,154.363636,1114.454545,2893.181818
8378563200,8135.250000,6.451667,6.451667,1.260653,1.965000,0.526667,3.961667,0.000000,55.416667,10.333333,168.916667,684.166667,3356.166667
8877689391,17417.083333,14.090833,14.090833,0.000000,7.282500,0.483333,6.272500,0.002500,66.833333,15.083333,241.000000,1046.166667,3451.166667

In [25]:
len(Average_df[Average_df['Calories']>2500])

9

In [ ]:
# Total '9' healthy persons, Considering average calorie burn per day should be 2500.

In [79]:
#Insert column for Healthy/Unhealthy based on above data
def Healt_status(a):
    if a>1500:
        return 'Healthy'
    else:
        return 'Un-healthy'

In [80]:
Average_df['Health_status']=Average_df['Calories'].apply(Healt_status)

In [81]:
Average_df.head()

,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Health_status
Id,,,,,,,,,,,,,,
1503960366,11640.526316,7.607368,7.607368,0.0,2.783684,0.635263,4.178421,0.000000,35.842105,15.842105,228.210526,809.842105,1796.210526,Healthy
1624580081,4226.263158,2.746842,2.746842,0.0,0.051579,0.027368,2.659474,0.005263,0.736842,0.578947,121.052632,1278.315789,1352.894737,Un-healthy
1644430081,9274.800000,6.749000,6.749000,0.0,1.134000,2.030000,3.580000,0.008000,14.800000,43.500000,227.700000,1034.200000,2916.400000,Healthy
1844505072,3640.583333,2.406667,2.406667,0.0,0.050833,0.030833,2.324167,0.000000,0.750000,0.750000,158.500000,1035.333333,1615.916667,Healthy
1927972279,2180.833333,1.510833,1.510833,0.0,0.000000,0.061667,1.449167,0.000000,0.000000,1.666667,111.666667,952.916667,2254.000000,Healthy

# 9. how many person are not a regular person with respect to activity try to find out those

In [82]:
df['is Healthy']=df['Calories'].apply(Healt_status)

In [90]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,is Healthy
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,Healthy
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,Healthy
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,Healthy
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,Healthy
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,Healthy

In [56]:
dfa=pd.DataFrame(df.groupby('Id')['Health status'].count())

In [100]:
dfa['cnt_healthy']=pd.DataFrame(df[df['is Healthy']=='Healthy'].groupby('Id')['is Healthy'].count())

In [107]:
dfa['cnt_unhealthy']=df[df['is Healthy']=='Un-healthy'].groupby('Id')['is Healthy'].count()

In [109]:
dfa['%activity']=round((dfa['cnt_healthy']/dfa['Health status'])*100)

In [122]:
#regular >80% activity
dfa['is Regular']=pd.DataFrame(dfa['%activity'].apply(lambda x: 'Y' if x>80 else 'N'))

In [124]:
dfa.head()

            Health status  cnt_healthy  cnt_unhealthy  %activity is Regular
Id
1503960366             19           18            1.0       95.0          Y
1624580081             19            3           16.0       16.0          N
1644430081             10            9            1.0       90.0          Y
1844505072             12            8            4.0       67.0          N
1927972279             12           11            1.0       92.0          Y

In [130]:
print('Number of persons who are not regular = {}'.format(dfa[dfa['is Regular']=='N']['is Regular'].count()))

Number of persons who are not regular = 7

In [135]:
print('Number of persons who are not regular = {}'.format(len(dfa[dfa['is Regular']=='N'])))

Number of persons who are not regular = 7

# 10 . who is the thired most active person in this dataset find out those in pandas and in sql both

In [136]:
pd.DataFrame(((df.groupby('Id').sum()).nlargest(3,'TotalSteps')).iloc[2])

                          4020332650
TotalSteps                 184851.00
TotalDistance                 132.60
TrackerDistance               132.60
LoggedActivitiesDistance        0.00
VeryActiveDistance              5.30
ModeratelyActiveDistance        6.29
LightActiveDistance            71.71
SedentaryActiveDistance         0.20
VeryActiveMinutes             130.00
FairlyActiveMinutes           245.00
LightlyActiveMinutes         4172.00
SedentaryMinutes            34663.00
Calories                    98412.00

In [185]:
#SQL result snip saved in desktop

# 11 . who is the 5th most laziest person avilable in dataset find it out

In [186]:
df.head(3)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944

In [137]:
pd.DataFrame(df.groupby('Id').sum().nsmallest(5,'TotalSteps').iloc[4])

                          8583815059
TotalSteps                  24364.00
TotalDistance                  19.02
TrackerDistance                19.02
LoggedActivitiesDistance        0.00
VeryActiveDistance              0.37
ModeratelyActiveDistance        0.73
LightActiveDistance            17.88
SedentaryActiveDistance         0.00
VeryActiveMinutes               5.00
FairlyActiveMinutes            15.00
LightlyActiveMinutes         1097.00
SedentaryMinutes            10094.00
Calories                    19130.00

In [ ]:
#5th most laziest person - 8583815059,

In [194]:
 df.groupby('Id').sum().nsmallest(5,'TotalSteps')
 #below table shows top5 laziest IDs based on 'Totalsteps'

,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
Id,,,,,,,,,,,,,
4388161847,0,0.00,0.00,0.000000,0.00,0.00,0.00,0.0,0,0,0,11074,14442
2891001357,6189,4.83,0.00,9.656064,0.00,0.00,4.83,0.0,0,660,1350,8799,18187
6391747486,12032,9.67,0.91,8.754830,2.03,0.05,7.59,0.0,46,6,309,11357,15868
6290855005,16181,12.23,12.23,0.000000,2.02,3.68,6.53,0.0,78,107,393,12896,21656
8583815059,24364,19.02,19.02,0.000000,0.37,0.73,17.88,0.0,5,15,1097,10094,19130

# 12 . what is a totla acumulative calories burn for a person find out

In [201]:
Cal_df=df[['Id','Calories']]

In [203]:
Cal_df.groupby('Id').sum().sort_values('Calories',ascending=False)

            Calories
Id
4020332650     98412
4057192912     60913
4702921684     42322
8877689391     41414
8378563200     40274
5577150313     36303
1503960366     34128
8053475328     31825
4445114986     31617
7007744171     31525
2347167796     30320
2022484408     29704
6962181067     29249
1644430081     29164
1927972279     27048
7086361926     26124
1624580081     25705
8792009665     24884
6775888955     24523
4319703577     23931
4558609924     21962
6290855005     21656
5553957443     21630
6117666160     20993
2873212765     20349
1844505072     19391
8583815059     19130
3372868164     18603
2320127002     18385
2891001357     18187
8253242879     17556
3977333714     16777
2026352035     16266
6391747486     15868
4388161847     14442